.planetModalStyle{
    z-index: 500;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    width: 120vh;
    height: 75vh;
    border: solid 2px #318CE7;
    border-width: 0.1em;
    border-radius: 45px;
    background-color: #FDF5E6;
    margin-top: 8%;
    margin-left: 20%;
    box-shadow: 0px 0px 10px #318CE7;
}

.close{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    margin-top: 3%;
    margin-left: -6%;
}

.modalContent{
    width: 100%;
    height: 100%;
    margin: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: space-between;
}

.modalContent img{
    width: 10vw;
    height: 10vh;
}

.modalInfo{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.planetImg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #318CE7;
    border-radius: 45px;
    width: 20vw;
    height: 50vh;
    margin-left: -2%;
    margin-top: -2%;
    box-shadow: inset 0px 0px 10px #318CE7;
    background: #E7E0D2;
}

