.buyModalStyle{
    z-index: 500;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    width: 120vh;
    height: 75vh;
    border: solid 2px #9658EB;
    border-width: 0.1em;
    border-radius: 45px;
    background-color: #FDF5E6;
    margin-top: 8%;
    margin-left: 20%;
    box-shadow: 0px 0px 10px #9658EB;
}

.buyClose{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    margin-top: 3%;
    margin-left: -6%;
}

.modalBuyContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.modalBuyContent p{
    color: #9658EB;
}

.modalBuyContent a{
    color: #9658EB;
    background: #fff;
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 700;
    border: 1px solid #9658EB;
}