.enterWindow{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.enterButton{
    text-decoration: none;
    display: inline-block;
    color: white;
    width: 18vw;
    height: 9vh;
    border-radius: 10px;
    border: 0px solid white;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #9EEFE1 0%, #9658EB 51%, #9EEFE1 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
    cursor: pointer;
    font-size: 18px;
}

.enterButton:hover{
    background-position: right center;
}

