.sunModalStyle{
    z-index: 500;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    width: 120vh;
    height: 75vh;
    border: solid #9658EB;
    border-width: 0.1em;
    border-radius: 45px;
    background-color: #FDF5E6;
    margin-top: 8%;
    margin-left: 20%;
    box-shadow: 0px 0px 10px #9658EB;
}

.sunClose{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    margin-top: 3%;
    margin-left: -6%;
}

.sunModalContent{
    width: 100%;
    height: 100%;
    margin: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: space-between;
}

.sunModalContent img{
    width: 10vw;
    height: 10vh;
}

.sunModalInfo{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -6%;
}

.sunImg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #9658EB;
    border-radius: 45px;
    width: 20vw;
    height: 50vh;
    margin-left: -2%;
    margin-top: -2%;
    box-shadow: inset 0px 0px 10px #9658EB;
    background: #E7E0D2;
}

#progressbar {
  background: #333;
  border-radius: 13px;
  height: 20px;
  width: 300px;
  padding: 3px;
  border: 1px solid white;
}

#progressbar1 {
  content: '';
  display: block;
  background: #9658EB;
  height: 100%;
  width: 0%;
  border-radius: 13px;

}

.sunBurn{
    text-decoration: none;
    display: inline-block;
    color: white;
    width: 9vw;
    height: 4.5vh;
    border-radius: 10px;
    border: 0px solid white;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #9EEFE1 0%, #9658EB 51%, #9EEFE1 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
    cursor: pointer;
    font-size: 12px;
}

.sunBurn:hover{
    background-position: right center;
}

.sunInput{
    background-color: #9EEFE1;
    border: 2px solid #9658EB;
    width: 15vw;
    height: 4vh;
    border-radius: 13px;
    margin: 2%;
    cursor: pointer;
}
.sunInput:focus{
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    background-image: linear-gradient(to right, #9658EB 0%, #9EEFE1 51%, #9658EB 100%);
    color: white;
    font-size: 20px;
}